.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  white-space: nowrap;
}

.card svg {
  width: 100px;
  height: 100px;
}

.card p {
  margin: 0;
  font-size: 28px;
  text-align: center;
}