.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  color: #4B297D;

}

.logo-text span {
  font-weight: 400;
  font-size: 16px;
}

.nav a {
  margin-left: 40px;
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  padding: 60px;
}

.nav a:hover {
  opacity: 0.6;
  transition: 0.2s;
}
.social{
  margin-left: 100px;
}


