.review-card {
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  border: 3px solid #ececec;
}


.review-card__stars {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.star {
  width: 20px;
  height: 20px;
  fill: #FFD700;
}

.review-card__text {
  font-size: 18px;
}

.review-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  font-family: 'onest';
}

.review-card__name {
  font-size: 22px;
  margin-bottom: 0; 
}