<button class="button"
        style="border-radius: @@border-radius;
               padding-left: @@padding-x;
               padding-right: @@padding-x;
               padding-top: @@padding-y;
               padding-bottom: @@padding-y;
               background-color: @@background-color;
               color: @@color;
               background-image: @@background-image;
               border: 1px solid @@border-color;
               font-size: @@font-size;
               opacity: @@opacity">
  <span>@@tittle</span>
</button>