// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';
@use 'components/header';
@use 'components/review';
@use 'components/star';
@use 'components/slider';
@use 'components/footer';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@import "page1";
@import "page2";
@import "page3";
@import "page4";

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
text-align: center;
}