:root{
  --accent: #ff8a00;
  --pink: #ff2a6d;
  --text: #000000;
  --muted: #000000;
}

.booking-hero {
  text-align: center;
  padding: 20px 0 40px;
}

.booking-title {
  font-size: 48px;
  font-weight: 700;
  color: var(--accent);
}

.booking-photo img{
  border-radius: 30%;
  width: 30%;
  height: 300px;
  padding: 20px;
}

.booking-subtitle {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.7;
}

.booking-zones {
  padding: 40px 0;
}

.zones-row {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.zone-card {
  width: 300px;
  padding: 26px;
  border-radius: 18px;
  background: #fff;
  border: 1px solid #efefef;
  text-align: center;
}

.zone-card h3 {
  margin: 12px 0 6px;
  font-size: 22px;
  font-weight: 700;
}

.zone-card p {
  font-size: 18px;
  margin-bottom: 18px;
  opacity: 0.8;
}

.booking-steps h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 35px;
}

.steps-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.step-card {
  width: 180px;
  text-align: center;
}

.step-card p {
  margin-top: 10px;
  font-size: 22px;
}

.booking-form {
  margin: 80px auto;
  text-align: center;
}

.booking-form h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

.form {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px 4px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 16px;
  outline: none;
  color: #000;
}

.form textarea {
  height: 80px;
  resize: none;
}

@media (max-width: 900px) {
  .zones-row {
    flex-direction: column;
    align-items: center;
  }

  .steps-row {
    flex-direction: column;
    align-items: center;
  }

  .booking-img {
    width: 95%;
  }
}